<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
</head>
<script type="text/javascript" src="/assets/todo-list.js"></script>
<body>
   <h1>My TO-Do List!!!!</h1>
    <div id="todo-table">
        <form action="" method="POST">
            <input type="text" name="item" placeholder="Add New item.." required>
            <button value="submit">Add Item</button>
        </form>
        <ul>
           <% for(var i =0; i<todos.length ; i++){ %>
               <li><%= todos[i].item %> </li>

          <% } %>
        </ul>
    </div>
</body>
</html>